[submodule "qa-frontend-challenge"]
	path = codacy
	url = https://github.com/codacy/qa-frontend-challenge.git
[submodule "buildbox"]
	path = buildbox
	url = https://github.com/Buildbox-ItSolutions/qa-challenge
